fastapi
uvicorn
torch
torchaudio
speechbrain
librosa
soundfile
numpy
python-multipart
python-dotenv
requests

# GCP services
google-genai
google-cloud-aiplatform>=1.38.0
google-cloud-speech>=2.21.0
google-cloud-storage>=2.10.0
google-cloud-firestore>=2.13.0
